.currency-row {
  width: 100%;
  display: flex;
}
.currency-col {
  padding: 30px;
  width: 50%;
}

.currency-para {
  color: #2e3135;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font: 18px/1.9em "librebaskerville-regular", serif;
}

.currency-graph {
  position: relative;
  width: 100%;
}

.tooltip {
  display: block;
  position: absolute;
}

.react-reveal.currency-col.currency-duration {
  padding-top: 150px;
  animation-duration: 2000ms !important;
}

.currency-col.network1 {
  padding: 0;
}

.currency-header {
  font: 32px/1.1em "opensans-bold", sans-serif !important;
  letter-spacing: -2px;
}
