.currency-row {
  width: 100%;
  display: flex;
}
.currency-col {
  padding: 30px;
  width: 50%;
}

.currency-para {
  font-family: Verdana, sans-serif;
  color: #7b8898;
  font-size: 20px;
  font-weight: 300;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.currency-graph {
  position: relative;
  width: 100%;
}

.tooltip {
  display: block;
  position: absolute;
}

.react-reveal.currency-col.currency-duration {
  animation-duration: 2000ms !important;
}

.currency-col.network1 {
  padding: 0;
}
