.heatmap-row {
  width: 100%;
  display: flex;
}
.heatmap-col {
  padding: 30px;
  width: 50%;
}

.heatmap-para {
  color: #2e3135;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font: 18px/1.9em "librebaskerville-regular", serif;
}

.heatmap-para.indent {
  text-indent: 30px;
}

.heatmap-graph {
  position: relative;
  width: 100%;
}

.tooltip {
  display: block;
  position: absolute;
}

.react-reveal.heatmap-col.heatmap-duration {
  padding-top: 130px;
  animation-duration: 2000ms !important;
}

.heatmap-header {
  font: 32px/1.1em "opensans-bold", sans-serif !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}
